<h1>Books</h1>

<% @lists.each do |list| %>
  <table>
    <thead>
      <tr>Title</tr>
      <tr>Body</tr>
      <tr colspan="3"></tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td></td>
        <td> <%= link_to "Show", list_path(list.id) %></td>
        <td> </td>
        <td> </td>
      </tr>
      
        
    </tbody>
  </table>
  
<% end %>